body {
    background-color: burlywood; 
    font-family: "Trebuchet MS", Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

nav {
    margin-bottom: 20px;
}

nav button {
    background-color: #f4b6c2; 
    color: brown;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

nav button:hover {
    background-color: #e75480; 
}

h1 {
    color: #5a3825;
    text-decoration: underline;
}

.imagen-cafe {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #5a3825;
    display: block;
    margin: 15px auto;
}

.parrafo-cafe {
    background-color: #5a3825;
    color: white;
    padding: 15px;
    width: 80%;
    margin: 20px auto;
}

.menu {
    color: #5a3825;
    font-size: 16px;
}

.formulario {
    background-color: white;
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}


form button {
    background-color: #f4b6c2;
    color: brown;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
}

form button:hover {
    background-color: #e75480;
}

.ejemplos-display {
    background-color: #f7e6d3;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
}

.ejemplos-display h3 {
    color: #5a3825;
    margin-top: 20px;
}

/* Estilo base para todas las cajas */
.caja {
    background-color: #f4b6c2;
    color: brown;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-weight: bold;
}

/* display: block */
.block {
    display: block;
    width: 100%;
}

/* display: inline */
.inline {
    display: inline;
    padding: 5px 10px;
}

/* display: inline-block */
.contenedor-inline-block {
    border: 2px dashed #5a3825;
    padding: 10px;
}

.inline-block {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 5px;
}

